@import url("assets/fonts/plus-jakarta-sans.css");


:root {
	--width-minimum: 324px;
	--width-maximum: 1336px;

	--line-height: 25.6px;
}


* {
	/* font-family: 'futura-regular', sans-serif; */
	font-family: 'Plus Jakarta Sans', 'sans-serif'; 
	font-weight: 300;
	font-size: 14px;
	line-height: var(--line-height);  
	font-style: normal;
}





html {
	scrollbar-gutter: stable;
	scroll-behavior: smooth;
	font-size: 16px;
	line-height: 1.6;
	font-weight: 400;
	font-style: normal;
}

body {
	/* opacity: 0; */
	/* transition: opacity 3000ms ease; */

	display: grid;
	grid-gap: 0;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas: 
		"sidebar promoter"
		"sidebar header"
		"sidebar main"
		"sidebar footer"
		"sidebar copyrightbar"
	;
	

	margin: 0;
	padding: 0;
	
	min-height: 100vh;
	


	background-color: white;
	color: black;
	
	overflow-y: scroll;
	/* overflow-x:; */
}


header {
	grid-area: header;

	display: grid;
	grid-gap: 0;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
		"promoter promoter promoter"
		"head-left head-middle head-right"
		"menubar menubar menubar"
	;

	background-color: white;
	color: black;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	min-width: var(--width-minimum);
	
}

h1{
	font-weight: bold;
	font-size:1.2em;
}

b {
	font-weight: bold;
}

i {
	font-style: italic;
}

nav[data-display="desktop"] {
	grid-area: menubar;
	min-width: var(--width-minimum);
}

nav[data-display="mobile"] {
	grid-area: sidebar;
	background-color: #fff;

	height: 100vh;
	min-height: 100vh;

	overflow-x: hidden;
	text-wrap: nowrap;

	transition: width 300ms ease, opacity 300ms ease;

	box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.1);
}




main {
	opacity: 0;
	grid-area: main;
	position: relative;
	min-width: var(--width-minimum);
}

footer {
	grid-area: footer;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	position: relative;
	min-width: var(--width-minimum);
	margin-top: 20px;
}

footer a {
	color: #000;
	text-decoration: none;
}

footer a:hover {
	color: #000;
	text-decoration: underline;
}

footer a:visited {
	color: #000;
}




button, input[type="submit"] {
	border: 0;
	margin: 0;
	cursor: pointer;
	background-color: #000;
	color: #fff;
	border: 1px solid transparent;
	padding: 8px 20px 8px 20px;
	font-weight: bold;
}

button:hover, input[type="submit"]:hover {
	text-decoration: underline;
}

button:disabled {
	background-color: #cccccc; /* Warna latar belakang untuk tombol disabled */
	color: #666666; /* Warna teks untuk tombol disabled */
	border: 1px solid #aaaaaa; /* Warna border untuk tombol disabled */
	cursor: not-allowed; /* Mengubah kursor menjadi tanda larangan */
	opacity: 0.7; /* Membuat tampilan lebih redup */
}





.hidden {
	display: none !important;
}

.transparent {
	opacity: 0;
	transition: opacity .5s ease;
}

.header-scrolled {
	position: fixed;
	transition: top .5s ease;
}

.header-shadowed {
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.head-right {
	display: flex;
	justify-content: flex-end;
	column-gap: 10px;
}

.head-searchresult {
	background-color: #fff;
}

.footer-copyrightbar {
	grid-area: copyrightbar;
	text-align: center;
	background-color: #ddd;
}



.footer-logolink {
	display: inline-block;
	width: 26px;
	height: 26px;
	background-size: 38px 38px;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	filter: opacity(0.8);
	color: transparent !important;
	overflow: hidden;
}

.logo-transfashion {
	display: inline-block;
	width: 135px;
	height: 40px;
	background-image: url("transfashionid-logo-text-135x40.svg");
	background-size: 135px 40px;
	background-position: center;
	background-repeat: no-repeat;
	color: transparent !important;
	overflow: hidden;
}

.logo-ctcorp {
	display: inline-block;
	width: 63px;
	height: 40px;
	background-image: url("ctcorp-logo-63x40.svg");
	background-size: 63px 40px;
	background-position: center;
	background-repeat: no-repeat;
	color: transparent !important;
	overflow: hidden;
}

#main-mask {
	position: fixed;
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

#searchdialog {
	background-color: #fff;
	position: absolute;
	left:0;
	right: 0 ;
	margin-top: 10px;

	min-height: 100px;

	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4);
}



/* Desktop */


@media screen and (min-width: 1025px) {
	[data-display="mobile"] {display: none !important;}

	main {
		margin: 126px 50px 0 50px;
		padding-top: 20px;
	}


	footer nav {
		display: grid;
		grid-gap: 0;
		grid-template-columns: 2fr 4fr auto;
		grid-template-rows: auto auto;
		grid-template-areas: 
			"company links partner"
			"corporatelogo corporatelogo corporatelogo"
		;

		margin: 0 50px 0 50px;
	}

	.head-mainrow {
		height: 55px;
		min-height: 55px;
		
	}
	
	.logo {
		background-image: url("transfashionid-logo-text-135x40.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 135px 40px;
		width: 135px;
		height: 40px;
	}
	
	

	.head-left {
		margin-top: 20px;
		margin-left: 20px;
	}

	.head-middle {
		padding-top: 15px;
	}

	.head-right {
		margin-top: 20px;
		margin-right: 20px;
	}


	.footer-div-content {
		min-width: 250px;
		text-align: left;
		margin-bottom: 20px;
	}


	.footer-col-links {
		justify-content: flex-start;
	}

	.footer-copyrightbar {
		font-size: 0.9em;
		padding: 20px 0 20px 0;
	}

	#sidebar {
		display: none;
	}


	#searchdialog .head-searchresult {
		margin: 10px 20px 20px 20px;
	}

	#searchdialog-popular {
		margin-top: 20px;
	}

}




/* Mobile */
@media screen and (max-width: 1024px) {
	[data-display="desktop"] {display: none !important;}


	main {
		margin: 73px 10px 0 10px;
		padding-top: 20px;
	}

	footer nav {
		display: grid;
		grid-gap: 0;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas: 
			"links"
			"partner"
			"company"
		;

	}


	.head-mainrow {
		height: 30px;
		min-height: 30px;
	}

	.logo {
		background-image: url("transfashionid-logo-icon-40x40.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 28px 28px;
		width: 28px;
		height: 28px;
	}

	.head-left {
		margin-top: 5px;
		margin-left: 5px;
	}

	.head-middle {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.head-right {
		margin-top: 10px;
		margin-right: 10px;
	}

	.footer-div-content {
		min-width: 250px;
		text-align: center;
		margin-bottom: 10px;
	}

	.footer-col-links {
		justify-content: center;
	}

	.footer-copyrightbar {
		font-size: 0.8em;
		padding: 10px 0 10px 0;
	}

	#sidebar {
		display: flex;
		flex-direction: column;	
	}

	#sidebar .sidebar-header {
		display: grid;
		grid-gap: 0;
		grid-template-columns: 1fr auto 1fr;
		grid-template-rows: auto;
		grid-template-areas: 
			"head-left head-middle head-right"
		;
		background-color: #ccc;
	}

	#sidebar .sidebar-header .logo {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.sidebar-header-fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}

	.sidebar-hidden {
		position: fixed;	
		width: 0;
		opacity: 0;
	}
	
	.sidebar-showed {
		opacity: 1;
		width: 100vw !important;
	}



	#searchdialog .head-searchbar {
		margin: 20px 20px 0 20px;
	}

	#searchdialog .head-searchresult {
		margin: 30px 20px 20px 20px;
	}

	#searchdialog-popular {
		margin-top: 20px;
	}

}



@media screen and (min-width: 1337px) {
	main, footer {
		margin-left: calc((100vw - var(--width-maximum)) / 2);
		margin-right: calc((100vw - var(--width-maximum)) / 2);
	}

	footer nav {
		margin: 0
	}
}