
.logo-instagram {
	background-image: url("instagram.svg");
}

.logo-facebook {
	background-image: url("facebook.svg");
}

.logo-youtube {
	background-image: url("youtube.svg");
}

.logo-linkedin {
	background-image: url("linkedin.svg");
}

.logo-tiktok {
	background-image: url("tiktok.svg");
}

.logo-whatsapp-color {
	background-image: url("whatsapp-color.svg");
}